@keyframes introUp {
  from {
    opacity: 0;
    position: relative;
    bottom: -50px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}
#home-section {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  animation: introUp 2s;
  position: relative;
}
#home-section p {
  width: 50%;
  font-size: 17px;
}
#home-section p strong {
  font-size: 30px;
}
#home-section p strong span {
  color: red;
}

#about {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
#about img {
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: rgb(26, 26, 26);
  height: 30vh;
  color: rgb(231, 231, 231);
  padding: 20px;
  text-align: center;
}
header h1 {
  font-size: 45px;
  color: red;
}
header h2 {
  font-size: 30px;
  font-weight: lighter;
}

main {
  padding: 0px 200px;
  padding-top: 100px;
  height: 70vh;
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 99999px;
}

button {
  width: 120px;
  font-size: 17px;
  color: red;
  border: solid 1px red;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}